@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">DASHBOARD</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="chartGender">
                    </div>
                </div>
            </div>            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="chartDept">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
