@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />
<div>
    <h4>User Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fullname
        </dt>
        <dd class="col-sm-10">
            @Context.Session.GetString("Fullname")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Context.Session.GetString("Email")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Context.Session.GetString("Role")
        </dd>
    </dl>

</div>

