
@{
    ViewData["Title"] = "ForgotPass";
}

<h1>ForgotPass</h1>
<form method="post" asp-action="ForgotPass">
    <input name="email" type="text" />    
    <button type="submit">Submit</button>
</form>
