
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form metohd="post" asp-action="Login">
    <input name="email" type="text" />
    <input name="password" type="password" />
    <button type="submit">Login</button>
</form>

<div>
    <a asp-action="ForgotPass">Forgot Password</a>
</div>
