@{
    ViewData["Title"] = "Department";
}

<h1>DEPARTMENT</h1>

<table class="table" id="tableDepartment">
    <thead>
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Name</th>
            <th>DivisionId</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->

<!-- Create Modal -->
<div class="modal fade" id="createDeptModal" tabindex= "-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="createBody">
                <form id="createDeptForm">
                    <div class="form-group">
                        <label for="deptNameInput" class="col-form-label">Department Name:</label>
                        <input type="text" class="form-control" id="departmentNameCreate" placeholder="Enter Department Name" required>
                    </div> 
                    <div class="form-group">
                        <label for="divIdInput" class="col-form-label">Division Id:</label>
                        <input type="text" class="form-control" id="divisionIdCreate" placeholder="Enter Division ID" required>
                    </div>  
                     <button type="button" class="btn btn-primary" onclick="createDept()">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteDeptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/_ModalLayout.cshtml" />